@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --color-system: #1C1E2D;
    --color-background: #0D0F1E;
    --color-white: #fff;
    --color-mojang: #F47532;
    --color-join: #262F41;
}


/* Header */

.menu-mobile {
    position: relative;
    flex-wrap: nowrap !important;
}

.menu-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 93%;
    height: 323px;
    background: var(--color-join);
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    position: absolute;
    top: 46px;
    z-index: 2;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.45s;
}

.menu-search.active {
    pointer-events: all;
    opacity: 1;
}

.menu-search:before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent var(--color-join);
    border-style: solid;
    right: 10px;
    top: -17.9px;
}

.menu-search #search-input {
    height: 32px;
    min-height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 90%;
    margin: 10px auto 0 auto;
    padding-left: 40px;
    color: #fff;
    outline: none;
    position: relative;
    background: url(/assets/images/icon-search.png) no-repeat;
    background-position: 10px center;
}

.menu-search #search-input:focus {
    border: 1px solid var(--color-mojang);
}

.menu-search .close {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 3;
    background-image: url(/assets/images/exit.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    right: 19px;
    top: 10px;
    opacity: 0;
    pointer-events: none;
}

.menu-search .close.active {
    opacity: 1;
    pointer-events: all;
}

.menu-search .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
}

.full-page {
    background: #000000a8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    top: 57px;
    opacity: 0;
    pointer-events: none;
}

.full-page.active {
    background: #000000a8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    top: 57px;
    opacity: 1;
    pointer-events: all;
}

.menu-search .show-search {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.menu-search .show-search .list-group-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px 23px;
}

.menu-search .show-search .list-group-item:first-child {
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-search ::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.menu-search ::-webkit-scrollbar-track {
    margin: 7px 0;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}


/* Handle */

.menu-search ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

.menu-search ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menu-sidebar-mobile {
    background-color: #1c1e2da6 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: -150%;
    z-index: 9;
    transition: 0.3s linear all;
    height: 100vh;
}

.full-page-sidebar {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    z-index: 1;
}

.menu-sidebar-mobile.show {
    left: 0;
}

.menu-sidebar-content {
    background-color: var(--color-system) !important;
    width: 85%;
    height: 100vh;
    color: #fff;
    padding: 20px 15px;
    z-index: 9;
    position: absolute;
}

.logo-img {
    width: 44px;
    height: 44px;
    /* main/100 */
    background: #F47532;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
}

.menu-sidebar-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    margin: auto;
    margin-left: 15px;
    padding: 0;
}

.btn-menu-sidebar {
    background: transparent !important;
    outline: none !important;
    border: none !important;
}

.menu-sidebar-mobile-user {
    display: flex;
    align-items: center;
}

.menu-sidebar-mobile-user .name-date {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.menu-sidebar-mobile-user .date {
    font-size: 11px;
}

.menu-sidebar-mobile-user .avatar {
    width: 44px;
    height: 44px;
    background: #FFD8BF;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
    color: var(--color-mojang);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

.menu-pc .avatar {
    width: 35px;
    height: 35px;
    background: #FFD8BF;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
    color: var(--color-mojang);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.menu-pc .user-info {
    display: inline-flex;
    align-items: center;
}

.menu-pc .avatar img {
    width: 100%;
}

.list-menu-sidebar-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-menu-sidebar-mobile li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 17px 0;
    display: flex;
    align-items: flex-end;
}

.list-menu-sidebar-mobile li span {
    margin-left: 12px;
}

.list-menu-sidebar-mobile li:hover,
.list-menu-sidebar-mobile li:hover>svg>path {
    color: var(--color-mojang);
    fill: var(--color-mojang) !important;
}

.head-top {
    color: var(--color-white);
    background-color: var(--color-system) !important;
}

.head-top .nav-link {
    color: var(--color-white) !important;
}

.menu-pc {
    display: flex;
    justify-content: space-between;
}

.menu-pc .logo {
    flex: 1;
}

.logo h4 {
    margin: auto;
    margin-left: 15px;
    padding: 0;
}

.menu-pc .dropdown-menu[data-bs-popper] {
    right: 0 !important;
    background-color: #0D0F1E;
}

.menu-pc span,
.menu-pc a {
    color: var(--color-white) !important;
}

.menu-pc .dropdown-menu .nav-link {
    color: var(--color-white) !important;
}

nav.navbar.navbar-expand-lg.bg-light {
    background-color: var(--color-system) !important;
    font-family: 'Quicksand', sans-serif;
}

.title-sand {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.navbar-toggler {
    background-color: var(--color-mojang) !important;
}

.navbar-toggler-icon.menu-mobile {
    background-image: url('/assets/images/icon-menu.png');
}


/* icon */

.icon-search {
    background: rgba(255, 255, 255, 0.1);
    background-image: url(/assets/images/icon-search.png);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon {
    width: 15px;
    height: 15px;
    left: 2.5px;
    top: 2.5px;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.icon-time {
    background-image: url(/assets/images/icon-time.png);
}

.icon-coin {
    background-image: url(/assets/images/icon-coin.png);
}

.icon-star {
    background-image: url(/assets/images/icon-star.png);
}

.icon-union {
    background-image: url(/assets/images/icon-union.png);
}

.icon-arcade {
    background-image: url(/assets/images/icon-arcade.png);
}

.icon-store {
    background-image: url(/assets/images/icon-store.png);
}

.icon-code {
    background-image: url(/assets/images/icon-code.png);
}

.icon-check {
    background-image: url(/assets/images/icon-check.png);
    height: 22px;
    width: 22px;
}

.icon-download {
    background-image: url(/assets/images/icon-download.png);
    height: 22px;
    width: 22px;
}

.btn-system {
    background-color: var(--color-system);
    padding: 5px;
    border-radius: 4px;
}

.btn-join {
    background-color: var(--color-join);
}

.btn-action {
    background-color: var(--color-mojang) !important;
    box-shadow: 0px 4px 4px rgb(211 211 211 / 25%);
    border-radius: 8px;
    width: 162px;
    height: 49px;
}

h2.title-head {
    width: auto;
    height: 32px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    margin: 0;
}

.nav-bar-menu-pc ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-bar-menu-pc ul li {
    border: 0;
    padding: 13px 15px 10px 0px;
}

.nav-bar-menu-pc ul .action {
    border-bottom: 1.5px solid #F47532;
}


/* End header */


/* Footer */

.footer {
    background: #1C1E2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 10%;
}

.footer .list-nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.footer .list-nav-footer .nav-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 30px;
}

.footer .list-nav-footer .nav-item:nth-child(1),
.footer .list-nav-footer .nav-item:nth-child(2) {
    border-right: 2px solid rgba(255, 255, 255, 0.6);
}

.footer .list-social-network-icon {
    display: flex;
    grid-column-gap: 25px;
    margin-bottom: 30px;
}

.footer .copy-right {
    color: #FFFFFF;
    margin-top: 20px;
}

.footer .line-gradient {
    order: unset;
}

@media (max-width: 768px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer .list-nav-footer .nav-item {
        padding: unset;
        font-size: 14px;
    }
    .footer .list-nav-footer .nav-item:nth-child(1) {
        padding-right: 18px;
    }
    .footer .list-nav-footer .nav-item:nth-child(3) {
        padding-left: 18px;
    }
    .footer .list-nav-footer .nav-item:nth-child(2) {
        padding: 0 18px;
    }
    .footer .logo-footer svg {
        width: 150px;
        height: 40px;
    }
    .footer .list-social-network-icon .social-icon svg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 375px) {
    .footer .logo-footer svg {
        width: 150px;
        height: 40px;
    }
    .footer {
        padding-bottom: 10px;
    }
    .footer .list-social-network-icon .social-icon svg {
        width: 25px;
        height: 25px;
        grid-column-gap: 10px;
    }
    .footer .list-nav-footer .nav-item {
        font-size: 13px;
    }
    .footer .list-nav-footer .nav-item:nth-child(1) {
        padding-right: 10px;
    }
    .footer .list-nav-footer .nav-item:nth-child(3) {
        padding-left: 10px;
    }
    .footer .list-nav-footer .nav-item:nth-child(2) {
        padding: 0 10px;
    }
    .footer .copy-right {
        display: none;
    }
    .footer .list-nav-footer {
        margin: 24px 0;
    }
}


/* End footer */


/* Main */

.page-blogs {
    background-color: #0D0F1E !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-blogs .select-blogs {
    padding: 4px 0px;
    background-color: #1C1E2D;
    width: min-content;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 6px;
}

.page-blogs .select-blogs button {
    width: max-content;
    padding: 5px 30px;
    margin: 0px 5px;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    border-radius: 5px;
    border: 0;
}

.page-blogs .select-blogs .action {
    background-color: #0D0F1E;
    color: white;
    font-weight: 700;
}


/* Post blogs */

.page-blogs .post-blog {
    background-color: #1C1E2D;
    margin: 25px 0px;
    color: white;
    border-radius: 15px;
}

.page-blogs .post-blog .user-post {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh
}

.page-blogs .post-blog .title-user-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-blogs .post-blog .user-post .avata-user {
    width: 10vh;
    margin-right: 15px;
    position: relative;
}

.page-blogs .post-blog .user-post .avata-user button {
    background-color: #34C759;
    padding: 4px;
    border-radius: 100%;
    border: 1px solid white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-blogs .post-blog .user-post .avata-user img {
    border-radius: 100%;
}

.page-blogs .post-blog .user-post .info-user h4 {
    margin: 0;
    padding: 0;
}

.page-blogs .post-blog .user-post .info-user li {
    color: rgba(255, 255, 255, 0.6);
}

.page-blogs .post-blog .content-post {
    margin: 25px 0px 10px 0px;
}

.page-blogs .post-blog .content-post .title-content-post {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.page-blogs .post-blog .content-post .desc-content-post {
    margin: 10px 0px 5px 0px;
}

.page-blogs .post-blog .content-post .more {
    display: none;
}

.page-blogs .post-blog .comment-post {
    display: none;
}

.page-blogs .post-blog .comment-post-action {
    display: block;
}


/* Like blog */

.page-blogs .post-blog .like-post {
    display: flex;
    justify-content: flex-start;
}

.page-blogs .post-blog .like-post button {
    background-color: transparent;
    color: white;
    border: none;
}

.page-blogs .post-blog .like-post .item-like {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 35px;
}

.page-blogs .post-blog .like-post .item-like p {
    margin: 0 0px 0px 7px;
    padding: 0;
}

.page-blogs .post-blog .like-post .comment p,
svg {
    font-size: 16px;
    color: #F47532;
}


/* Comment post */

.page-blogs .post-blog .comment-post {
    margin: 10px 0px;
}

.page-blogs .post-blog .comment-post .item-comment {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.page-blogs .post-blog .comment-post .item-comment .avata-user-comment {
    position: relative;
    height: min-content;
    width: 5%;
}

.page-blogs .post-blog .comment-post .item-comment .avata-user-comment button {
    background-color: #34C759;
    padding: 4px;
    border-radius: 100%;
    border: 1px solid white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-blogs .post-blog .comment-post .item-comment .avata-user-comment img {
    border-radius: 100%;
    min-width: 100%;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment {
    width: 95%;
    padding-left: 10px;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .title-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .title-comment .name {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3px;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .title-comment p {
    font-weight: 700;
    padding: 0;
    margin: 0 15px 0px 0px;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .title-comment li {
    color: #ffffffc6;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .desc-comment {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0px 5px 0px;
    padding: 0;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment {
    display: flex;
    justify-content: flex-start;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment .item-like button {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 7px;
    border-radius: 15px;
    border: none;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment .item-like p {
    margin: 0;
    padding: 0px 0px 0px 5px;
    color: rgba(255, 255, 255, 0.4);
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment .item-like~.reply button {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    display: flex;
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment .item-like~.reply p {
    color: rgba(255, 255, 255, 0.4);
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment .item-like~.reply button .icon {
    padding-left: 10px;
    height: 24px !important;
    width: 30px !important;
    margin: auto 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .like-view-comment .item-like~.reply .icon svg {
    margin: auto 0;
}


/* Mobile */

@media (max-width: 768px) {
    .page-blogs .table-content .title-table-content h3 {
        font-size: 20px;
    }
    .page-blogs .table-content .title-table-content svg {
        width: 25px;
    }
    .page-blogs .post-blog .content-post .desc-content-post {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .page-blogs .post-blog .content-post .more {
        display: block;
        color: #F47532;
        text-decoration: none;
    }
    .page-blogs .post-blog .content-post P {
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
    }
    .page-blogs .post-blog .like-post {
        display: flex;
        justify-content: space-between;
    }
    .page-blogs .post-blog .like-post .item-like {
        margin: 0;
    }
    .page-blogs .post-blog .comment-post .item-comment .detail-user-comment .content-user-comment .desc-comment {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px 0px 5px 0px;
        padding: 0;
    }
    .page-blogs .post-blog .comment-post .item-comment .avata-user-comment {
        width: 10%;
    }
    .page-blogs .post-blog .comment-post .item-comment .detail-user-comment {
        width: 90%;
    }
}


/* Box panigatin */

.page-blogs .box-pagination {
    margin-top: 30px;
    text-align: center;
}

.page-blogs .pagination {
    justify-content: center;
    grid-column-gap: 5px;
}

.page-blogs .pagination .page-item a {
    background: unset;
    color: rgba(255, 255, 255, 0.4);
    fill: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    width: 36px;
    height: 36px;
    padding-left: 0;
    padding-right: 0;
}

.page-blogs .pagination .page-link {
    transition: .3s;
    cursor: pointer;
}

.page-blogs .pagination .page-link:focus {
    box-shadow: unset;
}

.page-blogs .pagination .page-link:hover {
    border-color: #F47532;
    background-color: #F47532;
}

.page-blogs .pagination .page-item.active a {
    background-color: #F47532;
    border-color: #F47532;
    color: #FFFFFF;
}

.page-blogs .pagination .page-item.range-page a {
    background: unset;
    border: unset;
    color: #F47532;
}

.page-blogs .box-pagination .icon-angle-nav {
    width: 16px;
    height: 16px;
    margin-top: -6px;
}